<div class="flwr_outer_footer">
    <div class="flwr_inner_footer">
        {% for block in section.settings.blocks %}
            <div class="flwr_footer_block">
                <p class="flwr_footer_block_header">
                    {{ block.settings.flwr_footer_block_header }}
                </p>
                <p class="flwr_footer_block_description">
                    {{ block.settings.flwr_footer_block_header }}
                </p>
            </div>
        {% endfor %}
    </div>
</div>
{% schema %}
{
  "name": "One Long Sentence",
  "class": "section-one-long-sentence",
  "settings": [
    {
        "type": "text",
        "id": "flwr_footer_header",
        "label": "Footer Header"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Footer Block",
      "settings": [
        {
          "type": "text",
          "id": "flwr_footer_block_header",
          "label": "Footer Block Header",
          "default": "Header"
        },
        {
          "type": "text",
          "id": "flwr_footer_block_description",
          "label": "Footer Block Description",
          "default": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer Custom - FLWR",
      "category": "CUSTOM",
      "blocks": [
        
      ]
    }
  ]
}
{% endschema %}
