<div class="flwr_outer_footer page-width">
    <div class="flwr_inner_footer">
        {% for block in section.blocks %}
            <div class="flwr_footer_block">
                <p class="flwr_footer_block_header">
                    {{ block.settings.flwr_footer_block_header }}
                </p>
                <p class="flwr_footer_block_description">
                    {{ block.settings.flwr_footer_block_description }}
                </p>
            </div>
        {% endfor %}
    </div>
</div>
<style>
  .flwr_outer_footer {
    border-top: 1px solid black; 
  }
  .flwr_inner_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-between;
  }
  .flwr_inner_footer .flwr_footer_block {
    flex: 1 0; 
    width: 32vW;
  }
  .flwr_footer_block_header {
    margin: 0;
    font-weight: bold;
  }
  .flwr_footer_block_description {
    margin: 0 0 2rem;
  }
  @media screen and (max-width: 749px) {
    .flwr_inner_footer {
      display: block;
      border-top: 1px solid black;
      margin-top: 30px;
      padding-top: 30px;
    }
    .flwr_inner_footer .flwr_footer_block {
      flex: 1 0; 
      width: 100vW;
    }
  }
</style>
{% schema %}
{
  "name": "Custom Footer",
  "class": "section-flwr-custom-footer",
  "settings": [
    {
        "type": "text",
        "id": "flwr_footer_header",
        "label": "Footer Header"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Footer Block",
      "settings": [
        {
          "type": "text",
          "id": "flwr_footer_block_header",
          "label": "Footer Block Header",
          "default": "Header"
        },
        {
          "type": "text",
          "id": "flwr_footer_block_description",
          "label": "Footer Block Description",
          "default": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer Custom - FLWR",
      "category": "CUSTOM",
      "blocks": [
        
      ]
    }
  ]
}
{% endschema %}
