html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

#cart-icon-bubble {
    display: none;
}
.collage {
    opacity: 0;
    position: relative;
    bottom: -200px;
}
.collage.flwr_show {
    opacity: 1;
    bottom: 0px;
    transition: all 0.8s linear 0.4s;
}
.floating_phone {
    position: fixed;
    bottom: 10vH;
    right: 5vW;
    width: 60px;
    height: 60px;
    background-color: #fa6e12;
    border-radius: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    line-height: 40px;
	transition: transform 1s ease-out;
}
.floating_phone:hover {
    transform: scale(1.25);
  	transition: transform 1s ease-out;
}
.search-modal__form .field {
	position: relative;
    overflow: hidden;
    border-radius: 10px;
    border-width: 8px;
}
.search-modal__form .field::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /*Making the width double the size of the parent since we are going to be animation the transform: translateX() to the left. */
    height: 100%;
    background: linear-gradient(115deg, var(--custom-button-color-primary), var(--custom-button-color-secondary));
    background-size: 50% 100%;
    border-radius: inherit;
    animation: animate_border .75s linear infinite;
}
.search-modal__form .field:focus::before {
    transform: translateX(-50%);
}
.search-modal__form .field__input {
/*      margin: 10px !important; */
    border-radius: 10px !important;
}
.search-modal__form .field__input:focus {
    box-shadow: 0 0 0 0 rgba(var(--color-foreground));
}
.search-modal__form .field::after {
 	box-shadow: 0 0 0 0 black !important; 
}
@keyframes animate_border {
    to {
        transform: translateX(-50%)
    }
}

.quick-add {
   height: 0px; 
}
/* shop now button */
.quick-add__submit, .quick-add__submit.button:disabled {
  margin-bottom: 20px;
  opacity: 0;
  border-radius: 30px;
  background: black;
  color: white;
}
.quick-add__submit.button:after, .quick-add__submit.button:before {
 box-shadow: none; 
}
.quick-add__submit.show:not(.button:disabled) {
  opacity: 1;
  transform: translateY(calc(-100% - 0px));
  animation: show__productcard__button 0.4s linear 0s;
}
@keyframes show__productcard__button {
    0% {
      opacity: 0;
      transform: translateY(-30%);
    }  
  	50% {
      opacity: 0.8;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(calc(-100% - 0px));
    }
}
